<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MinimalistYing.io-Memo</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>
<body>
	<header>
		<h3 class="header-title">MinimalistYing.io</h3>
		<nav>
			<ul>
				<li ><a href="../../index.html">Home</a></li>
				<li class="selected"><a href="./memo.html">Memo</a></li>
				<li ><a href="https://jsfiddle.net/user/MinimalistYing/fiddles/">CodeBase</a></li>
				<li ><a href="https://www.hackerrank.com/MinimalistYing">HackerRank</a></li>
				<li ><a href="https://github.com/MinimalistYing">Github</a></li>
			</ul>
		</nav>
	</header>
	<main class="memo-main">
		<!-- JS相关 -->
		<div class="memo-anchor-target">JavaScript<a class="fake-target" name="javascript">&nbsp;</a></div>
		<div class="memo-col">
			[- 判断一个值是否为 `NaN` 一定要通过 `isNaN()` 而不是通过等号比较，因为 `NaN !== NaN` 
			#2017/8/2# -]

			[- 通过Javascript `element.scrollTop = value` 或者jQuery `$(dom).scrollTop(value)` 去设置滚动条滚动位置时，注意所选取的元素就是设置了 `overflow-y : scroll` 的元素
			#2017/8/3# -]

			[- Javascript中字符串替换API `String.replace(reg, replacement)` 其中的replacement可以是一个回调函数 `(match, $1, $2, offset, string) =>{}` 通过种方法可以实现将被匹配的文本做特殊的转化后再替换的功能，具体参数意义以及接口可见<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace">这篇文档</a>
			#2017/8/20# -]
			
			[- Javascript中的原型是一种动态关系，改变原型的属性会立即对所有该原型链下的对象可见 ```var a = {}  a.test => undefined  Object.prototype.test = 'Hello'  a.test => Hello``` 
			#2017/9/27# -]
			
			[- 可以使用Object的 `hasOwnProperty()` 方法来检测一个属性是该对象独有还是由原型链继承而来
			#2017/9/27# -]
			
			[- Javascript的 `setTimeout()` 和 `setInterval()` 都可以接受字符串参数，并类似eval()将其执行，不安全并且效率低下，最好不要使用。具体可见<a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout">这篇文档</a>
			#2017/9/28# -]
			
			[- Javascript的变量名允许使用Unicode字符集中的所有字母和数字，所以类似 `var 变量 = 1` 也是合法的
			#2017/10/23# -]
			
			[- 使用 `String.prototype.length()` 来判断字符串长度在某些特殊场景下存在问题，例如 `'𝒜'.length === 2` 因为这个方法判断的是给定字符串用了几个UTF-16（16bit）来编码，而有些特殊字符需要32bit来编码，这时候这个方法计算一个字符的长度是2，判断方法可见<a href="http://ife.baidu.com/note/detail/id/583">这篇Blog</a>
			#2017/10/23# -]
			
			[- 在Javascript中 `Object` 是 `truthy value` 所以哪怕是 `new Boolean(false)` 也会在类型转化时被判断为true ```false && console.log(1) => false  new Boolean(false) && console.log(1) => 1 ``` 
			#2017/8/2# -]
			
			[- 关于 `Date` 对象有几点需要注意 `new Date(year, month[, day[, hour[, minutes[, seconds[, milliseconds]]]]])` 使用这个构造函数时 `month` 参数0代表一月，11代表十二月，同理 `dateObj.getMonth()` 一月返回0，十二月返回11 `dateObj.getDay()` 0代表周日，6代表周一
			#2017/11/21# -]

			[- Javascript中的整数在超过9007199254740992也就是 `Math.pow(2, 53)` 时精度无法精确至个位，会出现 `Math.pow(2, 53) + 1 === Math.pow(2, 53)` 的情况，关于其它数字过大时存在的问题可见<a href="http://www.plqblog.com/views/article.php?id=29">这篇Blog</a>
			#2017/11/23# -]
		</div>
		<div class="memo-col">
			[- 在Javascript中进行浮点数运算是不可靠的，遵循IEEE 754标准，二进制的浮点数运算不能正确的处理十进制小数，例如典型的 `0.1 + 0.2 !== 0.3` 在一定的精度范围内可通过将小数转化为整数再进行比较来解决这个问题
			#2017/8/2# -]

			[- 实现类似改变一个DOM元素的滚动条位置但不触发绑定在上面的onscroll函数，或者改变一个input元素的值不触发绑定在上面的onchange函数的一种思路：在改变值之前先将其绑定的事件函数解绑，改变完成后再将原有函数绑定回元素上
			<br>
			注意如果值的改变如果是连续的，也就是这个过程会短时间内重复多次执行时，需要将解绑和绑定操作放在延时函数中执行，避免反复多次的绑定事件和解绑事件消耗过多资源，导致浏览器卡顿
			#2017/8/7# -]
			
			[- 用于监听CSS3动画结束的事件 ```webkitAnimationEnd// Chrome Safari  mozAnimationEnd  MSAnimationEnd// IE10  oanimationend// Opera  animationend``` 
			#2017/9/1# -]
			
			[- 利用原生的JS即可输出格式化后的JSON字符串 `JSON.stringify(value[, replacer[, space]])` 其中space即是缩进数，默认无缩进，最大为10。replacer可以是一个过滤函数，用来筛选或替换最后的输出结果。具体参数意义以及接口可见<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify">这篇文档</a>
			#2017/9/8# -]
			
			[- Javascript中的Array其实是一种类数组的对象，效率比真正的数组要低，所以会有如下一些奇怪的行为 ```var arr = [1,2,3]  arr[0] => 1  arr['0'] => 1  arr.name = 'Hello'  arr.name => 'Hello'  arr[10] = 10  arr[6] => undefined  arr.length = 1  arr => [1]``` 
			#2017/9/27# -]
			
			[-  `Array.prototype.sort()` 可传入比较函数 `comparefn(a, b)` 来排序，希望a排在前该函数需返回一个负数，反之返回正数，俩者相等则返回0。
			#2017/9/28# -]
			
			[- 使用Javascript时如果选择在行尾不加上 `;` 是比较危险的行为，例如 ```var arr = [1,2,3]  var b = arr  [2].toString()  console.info(b)``` 的结果可能会出人意料，自动加分号的结果是 `var arr = [1,2,3];var b = arr[2].toString();console.info(b);` 再第二行以 `( [ + -` 开头时都需要注意避免以上情况
			#2017/10/23# -]

			[- 小技巧，可以通过俩次位运算来将 `string` 形式的数字转为(效率比parseInt等高) `number` 类似 `~~'123'// 123` ,Ps: 处理数字的上限是 `Math.pow(2,31) - 1` 对超出该值的数字无法正确转化
			#2017/11/24# -]
			
			[- 通过 `Element.requestFullscreen()` 以及 `Document.exitFullscreen()` 可以将页面上的内容进行全屏展示以及取消全屏展示
			#2018/1/16# -]
		</div>
		<div class="memo-col">
			[- 判断点击是否在某个DOM外部发生的思路，判断 `event.srcElement(IE) || event.target(FF)` 是否是这个DOM节点本身或者是其子元素,这里要注意在内部元素有特殊定位的情况下可能这个思路会有问题
			#2017/8/12# -]

			[- 在使用Javascript的 `parseInt()` 时，最好显示的指明进制，因为 `parseInt('0x16') = 22` 而你可能期望的结果是 `parseInt('0x16') = 0` 所以显示的指定进制才能做到真正的结果可控 ```parseInt('0x16', 16) = 22  parseInt('0x16', 10) = 0```  
			#2017/8/2# -]

			[- Javascript中的假值(falsy values) ```false  null  undefined  空字符串''  0  NaN``` 其它值都为true
			#2017/9/3# -]
			
			[- 在Javascript中尝试去获取对象的某个属性值时，如果该对象没有该属性，则会继续在其原型链上查找直至 `Object.prototype` ,如果都没有找到才会返回 `undefined` 
			#2017/9/27# -]
			
			[- 判断是否是数组的方法，IE9+直接用原生的 `Array.isArray()` 如果要向下兼容的话 ```Object.prototype.toString.call(arg) === '[object Array]'``` Ps:jQuery的 `$.isArray()` 亦是采用这种方式
			#2017/9/27# -]
			
			[- 关于 `String.prototype.split([separator[, limit]])`  ```'abc'.split() => ['abc']  'abc'.split('') => ['a','b','c']  'a,b'.split(/(,)/) => ["a", ",", "b"]  'abc'.split('').reverse().join('')// 字符串倒序``` 
			#2017/9/28# -]

			[- Javascript的函数表达式 `var f = function (){ return 1 }` 函数声明 `function g(){ return 1 }` 在混合时 `var f = function g(){ return 1 }` 其实也是函数表达式，所以此时的 `g` 在函数外部是不可见的，试图执行 `g()` 会报错，关于函数表达式以及函数声明的具体差别可见<a href="http://kangax.github.io/nfe/">这篇文章</a> Ps:函数申明会存在函数提升的情况而函数表达式不会
			#2017/11/12# -]
			
			[- 关于 `typeof` 一共有六种可能结果 `number/string/boolean/undefined/function/object` 其中有一种较怪异的行为需注意 `typeof null // 'object'` 
			#2017/11/22# -]
			
			[- 获取浏览器当前滚动条位置可通过 `window.scrollY||window.pageYOffset` 前者不兼容IE,横向位置则通过 `window.scrollX||window.pageXOffset` 
			#2017/12/29# -]
		</div>

		<!-- CSS相关 -->
		<div class="memo-anchor-target">Cascading Style Sheets<a class="fake-target" name="css">&nbsp;</a></div>
		<div class="memo-col">
			[- 为了实现隐藏一个元素的滚动条但仍可以在鼠标移入其中时进行滚动操作，可以通过将其用父元素包裹，并将父元素设为 `overflow : hidden` 同时将其向右偏移或者增宽，这样可以使得其滚动条隐藏在父元素之下，类似 ```<div calss="wrapper" style="overflow : hidden; width : 200px">  <div class="inner" style="max-height : 10px; overflow : scroll; width : 220px"></div>  </div>``` 的写法
			#2017/8/3# -]

			[- 想实现鼠标悬浮在一个父元素上能触发其子元素在 `:hover` 下的样式，之前的思路是通过借助jQuery `$(parent).hover(() => $(son).hover())` 来实现，今天突然发现原来的方法太复杂，其实只需要几行CSS即可实现想要的效果，类似 ```.parent:hover .son {  // 这里是鼠标悬浮在父元素上时子元素的样式  }``` 先前的思路在使用原生的Javascript时更难实现，因为原生的规范中并没有hover事件，与之相关的是鼠标的 `mouseenter/mouseleave/mousemove` 事件，而即使是在代码中触发了这些事件也是无法触发CSS的 `:hover` 状态的
			#2017/8/10# -]

			[- 可以通过给锚点设置一个向上的负偏移量来实现调至锚点位置时不会将锚点至于页面最顶部(避免被顶部所固定的Header遮挡)，类似: ```a {  position: relative;  top: -66px;  }``` 
			#2017/8/27# -]

			[-  实现文字模糊效果 ```{  color: transparent;  text-shadow: #111 0 0 5px; }``` 
			#2017/11/24# -]
		</div>
		<div class="memo-col">
			[-  `::selection` 可用于改变文字选中时的字体颜色和背景色，IE9及以上和现代浏览器兼容
			#2017/8/10# -]

			[- 当一个 `position: absolute` 的绝对定位元素的父元素的 `overflow` 值被设为非 `visible` 时，会出现该定位元素超出父元素的部分会被遮盖掉无法显示的情况，暂时对这种问题的解决方式只知道将父元素改为 `overflow: visible` 或者尽量保证定位元素不会超出父元素的边界
			#2017/8/15# -]
			
			[- 一种提高使用transform以及opacity来做过度效果性能的思路<a href="https://aerotwist.com/blog/flip-your-animations/">FLIP</a>
			#2017/9/18# -]

			[- 关于实现背景透明但文字不透明的效果，首先考虑的是使用 `opacity` 但其子元素都会继承这个属性，且无法单独为其子元素设置一个值，所以不可行。如果只是背景色透明的话，使用 `rgba()` 来设置透明 `background-color` 是一种不错的方法，兼容至IE9。
			#2017/11/1# -]

			[- 关于 'box-sizing: content-box' 以及 'box-sizing: border-box' 前者其实是W3C提出，后者是早期IE6、7quirk mode下的盒模型实现。但后来人们发现其实后者更符合人的逻辑，所以加了这个属性。对于 `content-box` 盒子宽度等于 `width` + `padding` + `border` 对于 `border-box` 盒子宽度就等于所设的 `width`  减去 `padding` 以及 `border` 才是真正展示内容的宽度
			#2017/11/17# -]

		</div>
		<div class="memo-col">
			[- 当一个 `display : inline-block` 元素的overflow被设为visible以外的值时，它的baseline位置会被从默认的字符x的底线位置修改为下外边沿，与此同时同一包含块的其它 `display : inline-block` 元素会被迫向下偏移来和这个元素对齐，遵循IFC(Inline Formatting Contexts)原则
			#2017/8/13# -]

			[- 当一个元素被设为 `display: flex` 时，它会被当作一个Flex Container，而它的所有子元素都会被当作Flex Item，并且这时候在其子元素上设置 `float | clear | vertical-align` 的值都是无效的
			#2017/8/16# -]
			
			[- 一种将全部元素reset为 `box-sizing: border-box` 的方法 ```html {  box-sizing: border-box;  }  *, *:before, *:after {  box-sizing: inherit;  }``` 可能会有更好的方法？详情可见<a href="https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/">这篇文章</a>
			#2017/8/10# -]
			
			[-  当 `display: inline-block` 的元素间有换行时，浏览器的渲染结果会带有间隙。这是由于浏览器会将这个换行符当作字符，所以会占有一个的字符大小的宽度。解决方法有很多，个人较喜欢 `font-size：0`。
			#2017/12/20# -]
		</div>

		<!-- 兼容性相关 -->
		<div class="memo-anchor-target">浏览器兼容性<a class="fake-target" name="compatibility">&nbsp;</a></div>
		<div class="memo-col">
			[- 为了使 `display: inline-block` 在IE8中起作用，必须在文档开头加上 `<!DOCTYPE html>` 并在头部加上 `<meta http-equiv="X-UA-Compatible" content="IE=edge">` 	
			#2017/8/1# -]

			[- 可以通过 `filter : Alpha(opacity = ?)` 来在IE7-8中兼容CSS3的 `opacity` 属性
			#2017/8/13# -]
			
			[- 关于 `<meta http-equiv="X-UA-Compatible" content="IE=edge">` 详情参看<a href="https://stackoverflow.com/questions/6771258/what-does-meta-http-equiv-x-ua-compatible-content-ie-edge-do">这个回答</a>
			#2017/9/5# -]
		</div>
		<div class="memo-col">
			[- IE8中的伪元素只支持类似 `:after` 的写法，不支持 `::after` 的写法
			#2017/8/2# -]

			[- 在IE8下如果在 `table-layout : auto` 的表格中为单元格设置 ```white-space : nowrap  overflow : hidden  text-overflow : ellipsis``` 想实现单元格内文字过长时出现...并截断多余内容会发现无效，反而表格会被内容撑宽，破坏原有布局。要想实现这种效果，只能将表格设为 `table-layout : fixed` 
			#2017/8/16# -]
			
			[- 通过ES5shim和Babel使用新特性Class时如果类并没有继承却在 `contructor()` 中调用了 `super()` 会导致在IE8下报错Stackoverflow。谨记如果没有继承关系则不应该调用 `super()` 方法 
			#2017/9/8# -]
		</div>
		<div class="memo-col">
			[- IE8切换为兼容性视图模式时会将原User-Agent中包含的 `MSIE8.0` 转变为 `MSIE7.0` 所以在通过UA来判断IE版本时尤其要注意
			#2017/8/9# -]
			
			[- Edge和IE11还有Safari好像会试图去识别页面上的数字是否像电话号码，如果像的话会在这些数字下加一个下划线，并使其可点击打开Skype之类的应用拨号(有些邮箱以及地址也同理)，想禁用这一特性可在HTML中加上 ```<meta name="format-detection" content="telephone=no,email=no,address=no">``` 
			#2017/9/1# -]
			
			[-  IE8下可采用 `filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=xxx,endColorstr=xxx);` 来兼容 `rgba()` 
			#2017/9/11# -]
		</div>

		<!-- Gulp相关 -->
		<div class="memo-anchor-target">Gulp<a class="fake-target" name="gulp">&nbsp;</a></div>
		<div class="memo-col">
			[- Gulp确保任务按一定顺序执行 ```gulp.task('second', ['first'], () => {})``` Gulp在匹配的文件列表中剔除指定文件 ```gulp.src(['asset/*.js', '!asset/exclude.js'], () => {})``` 上述代码会匹配asset目录下除去exclude.js的所有以.js结尾的文件
			#2017/8/21# -]
		</div>
		<div class="memo-col">
			[- Gulp在文件变化时触发回调函数 ```gulp.watch('...', (event) => {})  //event.path 发生变化文件的路径  //event.type added|changed|deleted|renamed``` 
			#2017/8/21# -]
		</div>
		<div class="memo-col">
			[- 在使用 ```gulp.src(...).pipe(...).pipe(...)``` 的过程中会发现当出错时控制台中报出的错误信息很难看懂,这是由于在Node.js中stream出错时会抛出error事件，而上述代码里没有写有关错误事件的处理函数，所以Node会默认的报出堆栈跟踪信息作为错误信息。如果采取如下捕获异常事件的方式来处理错误 ```gulp.src().pipe().on('err', () => {})``` 会使代码变得很复杂，推荐使用Pump的方式来进行处理 ```var pump = require('pump')  pump([gulp.src(), uglify(), concat()], cb)``` 
			#2017/8/21# -]
		</div>
		
		<!-- Webpack相关 -->
		<div class="memo-anchor-target">Webpack<a class="fake-target" name="webpack">&nbsp;</a></div>
		<div class="memo-col">
			[-  在开启Webpack `devServer` 遇到问题时可以路由至URL `/webpack-dev-server` 来观察打包出来的bundle文件详情来Debug
			#2017/10/27# -]
			
			[-  关于webpack devServer 的 `historyApiFallback` 在使用 类似 `vue-router` 或 `react-router` 来开发SPA时，如果将模式设为history模式需要将此项设为 `true` 为了将404的页面请求重定向至index.html以显示相应的404错误提示页面
			#2017/12/5# -]
		</div>
		<div class="memo-col">
			[-  在开发环境中可配置 `devtool: 'cheap-module-eval-source-map'` 来获得更快的编译速度，在生产环境中可配置 `devtool: 'cheap-module-source-map'` 以便于更好的排查线上问题
			#2017/11/3# -]
			
			[-  webpack配置中的 `optput.publicPath` 也会同时影响到webpack-dev-server去何处读取静态资源，如果配置错误会导致页面或静态资源无法加载，页面报错404或 `Cannot get /index.html` 
			#2018/1/15# -]
		</div>
		<div class="memo-col">
			[-  Webpack中的 `url-loader` 和 `file-loader` 都是用于打包一些图片字体之类的静态资源文件，区别在于 `url-loader` 会对一定大小限制内的图片进行Base64编码并采用DataUrl的形式嵌入页面或css，这些编码后的图片不会占用HTTP请求。但在图片过大的情况下会增加文件的大小，得不偿失，更适用于处理一些项目中多处用到的小图片（1kb以下）
			#2017/10/27# -]
		</div>
		
		<!-- jQuery相关 -->
		<div class="memo-anchor-target">jQuery<a class="fake-target" name="jquery">&nbsp;</a></div>
		<div class="memo-col">
			[- 利用好jQuery的事件命名空间可以减少很多需要在一个Dom元素的同一事件上绑定多个不同回调函数时会碰到的问题，例如 ```$(dom).on('click.a', () => {})  $(dom).on('click.b', () => {})``` 当出于某种原因需要解绑第一个函数时，只需要 `$(dom).off('.a')` 即可实现，同时也不会对b命名空间下的绑定事件有任何影响。如果想触发某个特定空间下的事件，可以通过 `$(dom).trigger('click.b')` 来实现
			#2017/8/29# -]
			
			[- jQuery可以通过 `$(':visible')/$(':hidden')` 来查找可见/不可见的Dom元素(通过判断元素的height和width是否大于0，所以 `opacity:0  visibility: hidden` 的元素会被认为是可见的)。这俩种选择器会带来性能上的问题，尽量避免使用，一定要使用的话也应该先通过纯CSS选择器将目标选出再通过 `$(dom).is(':visible')` 或 `$(dom).is(':hidden')` 判断，或者通过 `$(dom).filter(':visible')` 或 `$(dom).filter(':hidden')` 过滤
			#2017/8/30# -]
		</div>
		<div class="memo-col">
			[- jQuery核心函数的几种重载形式： ```$(($) => {  //文档加载完毕  //相当于$( document ).ready()  })  $('selector') // 选择器  $('selector', parentDom) // 选择器(在父元素的范围下)  $(dom) // 将Dom对象包装成jQuery对象  $(domArray) // 将Dom对象的数组包装成jQuery对象  $() // 1.4以后返回空的jQuery对象  $('<div></div>') // 将Html字符串包装成jQuery对象  $('<div>', {'class': 'a'}) // 生成一个标签并包装成jQuery对象``` 
			#2017/8/30# -]
			
			[- jQuery部分版本(1.10.X 1.8.X 可能还有其它)存在一个很奇怪的Bug，在HTML标签中使用nodeName作为ID(或者input的name)会导致页面报错 `a.nodeName.toLowerCase is not a function` 使用nodeType作为ID会导致$(window)发生变化并且绑定在上面的resize事件会失效。综上所述，以后谨记不要使用nodeName/nodeType/nodeValue作为HEML标签的ID或者name。
			#2017/9/26# -]
		</div>
		<div class="memo-col">
			[- 使用 `$(dom).html('...')` 时需注意防范脚本注入攻击，如果传入的字符串中包含可由用户填写的字段需要先进行转义，更好的办法是尽量使用 `$(dom).text('...')` 
			#2017/8/30# -]
			
			[- 关于 `$.trim()` IE9+应该已经实现了原生的 `String.prototype.trim()` 低版本浏览器可以使用jQuery的方式来实现Polyfill ```function( text ) {  return text == null ?  "" :  ( text + "" ).replace( /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, "" );}``` 其正则中的 `\xA0` 代表全角空格 `\uFEFF` 代表BOM头
			#2017/11/14# -]
		</div>

		<!-- React相关 -->
		<div class="memo-anchor-target">React<a class="fake-target" name="react">&nbsp;</a></div>
		<div class="memo-col">
			[- React组件中的HTML标签必须闭合，否则会编译报错，例如 `<img>` 必须写作 `<img/>` 
			#2017/10/13# -]
			
			[- 使用React-Router(3.x版本 其它版本估计也一样)，如果在 `<Router history={xxx}>` 上不配置 `history` 会报错 `Uncaught TypeError: Cannot read property 'getCurrentLocation' of undefined` 所以这个属性是SPA必配？
			#2017/10/30# -]
			
			[- React-Router采用动态路由的形式时页面报错 `The root route must render a single element` 可能是因为React组件是采用ES6的 `export default` 导出，而React-Router是采用CommonJS来 `require` 所以需要在导出的组件后加上 `.default` 类似 `require('components/Comp')).default`   
			#2017/11/3# -]
		</div>
		<div class="memo-col">
			[- 如果确定一个Component再初始化后不需要重新render，可以在组件中声明 `shouldComponentUpdate (nextProps, nextState) {return false;}` 这会使React跳过对该组件是否需要重绘的检查，提升性能。还有一种情况下，如果你希望只有在组件的部分属性发生变化时才检查，可以通过在上述方法中比较 `nextProps` 和 `nextState` 中的指定值是否发生变化来实现。还可以通过继承React提供的 `React.PureComponent` 来方便的实现上述需求，这个方法的缺陷是只会进行浅比较，如果 `props.obj` 中存储的是一个对象或者数组等就会失效
			#2017/10/14# -]
			
			[- 关于React-Router中 `browserHisory` 和 `hashHistory` 的区别，前者的URL类似 `xx/xx` 后者是 `/#/xx` 由于HTTP协议的约定，URL中 `#` 后作为片段(frag)不会随请求发送至后台，所以不需要服务器进行特殊配置，而前者是借助浏览器下的 `history` API实现，在IE8/9下会导致跳页时Full Load，并且需要服务器配置接受所有请求都返回 `index.html` 。优点时使得站点有清晰干净的URL，并且服务器端渲染只能通过这种方式实现，固推荐使用 `browserHistory` 
			#2017/10/31# -]
		</div>
		<div class="memo-col">
			[- 关于React中的Event Handlers传参数有一下俩种方式 `<button onClick={(e) => this.func(id, e)}>click</button>` 或者 `<button onClick={this.func.bind(this, id)}>click</button>` 第二种方式下的 `e` 会默认作为最后一个参数传递
			#2017/10/19# -]
			
			[- 如果希望在React组件内部进行路由、页面跳转，可以借助React-Router提供的 `withRouter(comp)` 之后便可在组件内部通过 `this.props.router` 来进行跳转。但有时候我们希望在组件外部来跳转，这就需要借助history来实现 ```import {browserHistory} from 'react-router'  browserHistory.goBack()  browserHistory.push()``` 
			#2017/11/2# -]
		</div>
			
		<!-- Vue相关 -->
		<div class="memo-anchor-target">Vue<a class="fake-target" name="vue">&nbsp;</a></div>
		<div class="memo-col">
			[- Vue中对进行双向绑定的数据需进行初始化(包括向组件中传递的数据)，否则会导致双向绑定失效
			#2017/12/6# -]
		</div>
		<div class="memo-col">

		</div>
		<div class="memo-col">

		</div>

		<!-- Http相关 -->
		<div class="memo-anchor-target">HyperText Transfer Protocol<a class="fake-target" name="http">&nbsp;</a></div>
		<div class="memo-col">
			[- HTTP中的URL中没有具体表明端口号时，默认访问80端口，而HTTPS中的默认端口号为443
			#2017/8/22# -]

			[- 由于TCP具有慢启动特性（不能在连接的开始就将所有的IP分组一次发出，而是只有在一个分组成功确认后才有发出其它俩个分组的权限），所以新连接的速度一般会比已建立好的连接要慢
			#2017/8/25# -]
			
			[- Web服务器也可以接受一个目录的URL请求，类似 `/dir/` 通过配置服务器可以指定不同的返回形式，可以返回一个错误，可以默认的去搜索该目录下的index.html并返回，可以扫描目录返回包含目录内容的html页面(通常这是不安全的，因为这样会把站点的目录结构暴露出来)
			#2017/8/28# -]
			
			[- HTTP常见状态码 ```200 => 请求成功  301 => 资源永久迁移  302 => 资源临时迁移  303 =>需要去另一个地址获取资源  304 => 资源未发生变化  400 => 请求异常  401 => 未授权  403 => 服务器拒绝请求  404 => 未找到  405 => 不支持的请求方法  408 => 请求超时  414 => 请求URL过长  500 => 服务器错误  502 => 网关故障  504 => 网关超时``` 
			#2017/9/19# -]
		</div>
		<div class="memo-col">
			[- 关于URI/URL/URN，URL和URM其实是URI(Uniform Resource Identifier)统一资源定位符的子集。URL不止指定了资源的地址，同时还指定了获取资源的方式（协议/方法等等）。而URN则只通过特定的命名空间标识资源，不关注操作获取资源的方式。
			#2017/8/22# -]

			[- 源IP地址、目标IP地址、源端口号、目标端口号这四个值一起唯一地定义了一个TCP连接
			#2017/8/25# -]
			
			[- HTTP响应中的Date首部应该表示原始服务器最初产生这个对象的日期
			#2017/9/5# -]
			
			[- HTTP协议其实并未对url的长度做过多的限制，但各实际中各浏览器的实现都有着不同的长度限制，RFC2616建议不应超过255 bytes也就是2040bit，实际中是IE浏览器最为严格url最长为2083个字符。所以关于在get请求中传数组这种操作还需慎重考虑。
			#2017/11/14# -]

			[- 关于浏览器的同源策略:域名（需各级域名完全相同）、协议、端口号都相同称谓同源，非同源的请求会存在跨域问题
			#2017/11/17# -]
		</div>
		<div class="memo-col">
			[- HTTP的版本号不会被当作小数来比较，而是每个数字都单独处理，所以假设将来有这么俩个版本HTTP/2.22和HTTP/2.3，前者的版本更高
			#2017/8/23# -]

			[- 通常Web服务器的文件系统会有一个根目录(Document Root)来专门用于存放Web内容，当服务器收到一个对静态资源的请求时会获取其URI并附加在根目录后去寻找相应的文件，例如服务器的根目录为 `/usr/home` 请求为 `/test/haha.gif` 服务器会在文件系统的 `/usr/home/test/haha.gif` 目录下去寻找被请求的资源文件。要注意的是，一个服务器也可能同时提供多个Web站点，它可以通过不同的请求Host或者IP来访问不同的根目录
			#2017/8/28# -]
			
			[-  `Cache-Control : no-store` 禁止代理缓存 `Cache-Control : no-cache  Pragma : no-cache// 兼容HTTP/1.0` 允许缓存，但必须先与服务器进行新鲜度验证，之后才能将内容返回给客户端 `Cache-Control : max-age:66,must-revalidate` 允许缓存，并且只有在内容过期后才必须进行新鲜度验证（在缓存过期时即使服务器错误也不会将这个陈旧的缓存返回给客户端）
			#2017/9/5# -]
		</div>

		<!-- 其它没法归类的 -->
		<div class="memo-anchor-target">杂项<a class="fake-target" name="other">&nbsp;</a></div>
		<div class="memo-col">
			[- 在自测与后台有交互，会发送请求的地方时一定要注意在Chrome的Network中观察发送请求的URL、参数等是否符合预期，同时也要注意考虑请求返回失败或返回空结果时页面UI的展示
			#2017/8/6# -]

			[- 正则表达式中的 `.` 可以用于匹配除换行符外的所有字符,如果想匹配含换行符在内的所有字符可以使用 `[\s\S]` 
			#2017/8/20# -]	
			
			[- 在HTML中属性可以用双引号、单引号、甚至不用引号包围，浏览器都是支持的。所以Google为了节省字节会采用不用引号的风格，大概对访问量极大的网站这也是一种省钱的方式吧
			#2017/9/4# -]
			
			[- 当页面的UI需要在后台数据返回后进行刷新时，一定要考虑到网络极差的情况下，请求会延迟很久后返回。这期间UI要怎样展示，或者用户能否进行操作，会不会有遗留的表单数据等等。
			#2017/9/13# -]
			
			[- 关于正则表达式量词(Regexp Quantifier) ```? => {0,1}  + => {1,}  * => {0,}``` 如果只有一个量词则为贪婪匹配，会尽可能的匹配更多结果。如果量词后附加后缀?则进行非贪婪匹配。
			#2017/9/28# -]

			[- 由于node有许多底层依赖包需要依靠c++,所以需要额外安装 `node-gyp` 提供跨平台的编译支持，安装之前需要先装好相应的python/c++等环境，根据官方文档 `npm install --global --production windows-build-tools` 即可（很多情况下的npm安装失败可能都是因为这个没装好）
			#2017/11/17# -]	
		</div>
		<div class="memo-col">
			[- 关于采集站点的PV、UV数据，传统的做法是当页面load完成后像后台发送数据，当作一次PV<br>
			但在SPA(Single Page App)以及PWA(Progressive Web App)的情景下，这样的断定方式显得不那么合理，用户有可能一天中只Load一次页面然后在一天的任意时间段在这个应用中活动而不需要再一次Load页面<br>
			考虑用更新的方式进行统计可能比较合理，例如借助<a href="https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API">Page Visibility API</a>在用户初次打开应用浏览以及过去合理的一段时间后(可以用Session持续的最长时间来判断)后从其它再次切换到这个Tab页都作为一次PV<br>
			详情可见这篇<a href="https://philipwalton.com/articles/how-we-track-pageviews-is-all-wrong/">Blog</a>
			#2017/8/14# -]

			[- 在新的HTML5规范中，如果一个元素拥有ID属性，那么ID属性的属性值就会成为window对象的属性名，属性值就是ID对应的元素。如果下列标签中的元素拥有name属性 `<a> <applet> <area> <embed> <form> <frame> <frameset> <iframe> <img> <object>` 那么name属性的属性值就会成为window对象的属性名。例如页面上有这么一个元素 `<div id="a"></div>` 在script中 ```console.info(a)  //结果为<div id="a"></div>``` 
			#2017/8/23# -]
			
			[-  `<meta http-equiv="Content-Type" content="text/html; charset=utf-8">  <meta charset="utf-8">` 在HTML中俩者都可用来表明页面所采用的字符集，各浏览器的兼容性良好，但后者更短建议采用后者
			#2017/9/5# -]
			
			[- 匹配中文字符（简繁体都包含）的正则 `/^[\u4e00-\u9fa5]+$/` 暂时无法确认其是否完全正确
			#2017/11/9# -]
		</div>
		<div class="memo-col">
			[- HTML5新增了 `input` 事件来监听文本框的输入变化，但在IE9下存在用户删除输入或剪切文本时不会触发该事件的Bug,并且IE8下没有该事件，需同时监听 `propertychange` 来实现兼容IE8
			#2017/8/17# -]
			
			[- 阅读垠神博客有感  1.会写程序不是一件很了不起的事情，不要自负  2.语言、框架都只是工具，会用即可，不必过于推崇，重要的是我们脑海里的思想  3.开发软件也是一种工程，一定要极力避免Bug，这才是一个工程师该做的  4.面对同事、新人的提问请耐心解答，不要动不动就让提问者自行Google  5.不要觉得向他人提问是什么难为情的事，世界上总有东西是你不清楚的，哪怕是你日常工作所用的东西  6.复杂的代码不是显示能力的途径，简单易懂的才是
			#2017/8/30# -]
			
			[- 关于HTML中的相对路径 `./` 是文档相对路径，也就是当前访问页面的路径 `/` 是基于站点根目录的相对路径，举例说明访问网址http://0.0.0.0/1/2/son.html ```./test.js => http://0.0.0.0/1/2/test.js  /test.js => http://0.0.0.0/test.js``` 
			#2017/9/13# -]
			
			[- npm安装node-sass报错 `%1 is not a valid Win32 application` 看了看报错信息大概是说什么东西下载失败导致的，切换成淘宝镜像用cnmp安装就好了 `npm install -g cnpm --registry=https://registry.npm.taobao.org` 
			#2017/11/14# -]	
			
		</div>
	</main>

	<!-- 右侧导航 -->
	<aside class="memo-anchor">
		<ul>
			<li><a href="#_javascript">JavaScript</a></li>
			<li><a href="#_css">CSS</a></li>
			<li><a href="#_compatibility">兼容性</a></li>
			<li><a href="#_gulp">Gulp</a></li>
			<li><a href="#_webpack">Webpack</a></li>
			<li><a href="#_jquery">jQuery</a></li>
			<li><a href="#_react">React</a></li>
			<li><a href="#_vue">Vue</a></li>
			<li><a href="#_http">HTTP</a></li>
			<li><a href="#_other">杂项</a></li>
		</ul>
	</aside>

	<script type="text/javascript" src="./assets/js/main.js"></script>
</body>
</html>
