@import './color';
@import './markdown';

/*html5*/
article,aside,dialog,footer,header,main,section,footer,nav,figure,menu{
    display:block;
}
/*文字选中的颜色*/
::-moz-selection {
    background:@tiffany-hover;
    color:@white-background;
}

::-webkit-selection {
    background:@tiffany-hover; 
    color:@white-background;
}

::selection {
    background:@tiffany-hover; 
    color:@white-background;
}
/*小屏*/
@media all and (max-width: 1024px) {
    .info-wrapper {
        position: static;
        border: none;
        margin-top: 70px;
        width: 100%;
    }
    nav {
        display: none;
    }
    .info-message,
    .info-photo {
        width: 100%;
    }
    .skill-badge {
        margin: 10px 5px;
        width: 80px;
        height: 80px;
    }
}
/*大屏*/
@media all and (min-width: 1024px) {
    nav {
        display: inline-block;
    }
    .skill-badge {
        margin: 25px;
        width: 80px;
        height: 80px;
    }
    main {
        margin-top: 63px;
        margin-left: 20%;
        padding: 20px;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: @white-background;
    color: #333;
    font-size: 14px;

    font-family: "Microsoft YaHei","Verdana","sans-serif";
}
