@tiffany: #81D8D0;
@tiffany-hover: #ACE4DF;
@white-background: #FEFEFE;
@gary-border: #DDD;
@deep-pink: #ff1493;
@dark-pink: #ff90cd;

/*html5*/
article,aside,dialog,footer,header,main,section,footer,nav,figure,menu{
    display:block;
}
/*文字选中的颜色*/
::-moz-selection {
    background:@tiffany-hover;
    color:@white-background;
}

::-webkit-selection {
    background:@tiffany-hover; 
    color:@white-background;
}

::selection {
    background:@tiffany-hover; 
    color:@white-background;
}
/*小屏*/
@media all and (max-width: 720px) {
    nav {
        display: none;
    }
    .info > .info-card {
        margin: 5px auto;
        padding: 2px;
        width: 80%;
    }
    .card-message,
    .card-photo {
        width: 100%;
    }
    .info > .info-bar {
        margin: 10px auto;
        padding: 5px;
        width: 80%;
    }
    .info-bar > span:last-child,
    #to-top {
        display: none;
    }
    .skill-badge {
        margin: 10px 5px;
        width: 92px;
        height: 92px;
    }
    .skill-badge > p:first-child {
        margin-top: 25px;
    }
}
/*大屏*/
@media all and (min-width: 720px) {
    nav {
        display: inline-block;
    }
    .info > .info-card {
        margin: 20px auto;
        padding: 10px 20px;
        width: 20%;
        min-width: 380px;
    }
    .card-message,
    .card-photo {
        width: 49%;
    }
    .info > .info-bar {
        margin: 10px auto;
        padding: 5px 20px;
        width: 30%;
        min-width: 550px;
    }
    .skill > .wrapper {
        width: 75%;
    }
    .skill-badge {
        margin: 10px 20px;
        width: 100px;
        height: 100px;
    }
    .skill-badge > p:first-child {
        margin-top: 35px;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: @white-background;
    color: #333;
    font-size: 14px;

    font-family: "Microsoft YaHei","Cursive";
}
/* 导航 */
.header-title {
    display: inline-block;
    margin-left: 20px;
    cursor: context-menu;
}
nav ul {
    height: 63px;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;

    transition: background,color .3s,.3s ease-in;
    &.selected {
        border-bottom-color: @tiffany-hover;
    }
}
nav li > a {
    text-decoration: none;

    color: inherit;
}
nav li:hover {
    color: @white-background;

    background: @tiffany-hover;

    cursor: pointer;
}
nav {
    float: right;
    margin-right: 30px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;

    color: @tiffany;
    background-color: @white-background;
    border-bottom: 1px solid @gary-border;
    box-shadow: 1px 1px 5px #f3f3f3;
    z-index: 999;
}
main {
    margin-top: 85px;
}
/* 个人履历 */
.info > .info-card {
    border: 1px solid @gary-border;

    box-shadow: 1px 2px 5px rgba(169, 169, 169, .18);
}
.card-photo img {
    width: 150px;
}
.card-message,
.card-photo {
    display: inline-block;

    text-align: center;
}
.info > .info-bar {
    border: 1px solid @gary-border;
    border-radius: 7px;
}
.info-bar > span:last-child {
    float: right;

    font-size: medium;
}
.info-bar .tips {
    margin-left: 5px;

    font-size: small;

    color: gray;
}
/* 工作技能 */
.skill {
    border-top: 1px solid @gary-border;
    border-bottom: 1px solid @gary-border;
    padding: 30px 0;
}
.skill > .wrapper {
    text-align: center;
    margin: 0 auto;
}
.skill-badge {
    display: inline-block;

    border: 1px solid @tiffany-hover;
    border-radius: 5px;

    text-align: center;

    color: white;
    background-color: @tiffany;

    transition: all .3s;
}
.skill-badge:hover {
    background-color: @tiffany-hover;
    color: #666;
    box-shadow: 0 0 4px #ababab;

    transform: scale(1.2,1.2);

    cursor: pointer;
}
.skill-badge > p:last-child {
    margin-top: -10px;

    font-size: smaller;
}
/* 项目经历 */
.project {
    padding: 50px 0;
}
.project > .wrapper {
    margin: 30px auto;
    border: 1px solid @gary-border;
    padding: 20px;
    padding: 10px;
    width: 75%;

    box-shadow: 1px 2px 5px rgba(169, 169, 169, .18);
}

/* 页脚 */
footer {
    border-top: 1px solid @gary-border;
}
footer > p {
    text-align: center;
}

/* 滚动至顶 */
#to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;

    border: 1px solid @gary-border;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    color: black;
    background-color: white;

    transition: all .3s;
}
#to-top.hide {
    display: none;
}
#to-top:hover {
    animation: top-animation 1.5s;

    cursor: pointer;
}
@keyframes top-animation {
    0% {
        transform: scale(1,1);
    }
    33% {
        transform: scale(1.2,1.2);
    }
    66% {
        transform: scale(.8,.8);
    }
    100% {
        transform: scale(1,1);
    }
}
@-webkit-keyframes top-animation {
    0% {
        transform: scale(1,1);
    }
    33% {
        transform: scale(1.2,1.2);
    }
    66% {
        transform: scale(.8,.8);
    }
    100% {
        transform: scale(1,1);
    }
}

/*PC设备*/
@media all and (min-width: 1024px) {
    body {
        min-width: 1200px;
    }
    .memo-main {
        padding-right: 15%;
    }
    .memo-col {
        width: 30%;
    }
}

/*移动设备*/
@media all and (max-width: 1023px) {
    .memo-col {
        width: 100%;
    }
    .memo-main {
        padding-right: 5%;
    }
}

/* MEMO */
.memo-main {
    padding-left: 5%;
    line-height: 1.6;
    pre {
        white-space: normal;
        word-break: break-word;
        font-family: sans-serif;
        background: #f6f6f6;
        border-radius: 3px;
        padding: 5px 10px; 
        text-align: center;
    }
    a {
        color: @deep-pink;
        transition: color .3s;
        &:link {
            color: @deep-pink;
        }
        &:visited {
            color: @dark-pink;
        }
        &:hover {
            color: @deep-pink;
        }
    }
    .memo-col {
        display: inline-block;
        vertical-align: top;
    }
    .memo-card {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 10px 20px 20px;
        border: 1px solid @gary-border;
        border-radius: 3px;
        border-top: 3px solid @tiffany;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0px 25px 40px -20px #ddd;
            transform: translateY(-5px);

            .memo-time {
                cursor: default;
                font-size: 14px;
                color: @tiffany-hover;
            }
        }
    }
    .memo-time {
        position: absolute;
        bottom: 2px;
        right: 5px;
        font-size: 12px;
        color: #f6f6f6;
        transition: color,font-size .3s,.3s ease-in-out;
    }
}
.memo-anchor {
    position: fixed;
}