@import './color';
@import './markdown';

/*html5*/
article,aside,dialog,footer,header,main,section,footer,nav,figure,menu{
    display:block;
}
/*文字选中的颜色*/
::-moz-selection {
    background:@tiffany-hover;
}

::-webkit-selection {
    background:@tiffany-hover;
}

::selection {
    background:@tiffany-hover;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*小屏*/
@media all and (max-width: 1024px) {
    .info-wrapper {
        position: static;
        border: none;
        margin-top: 70px;
        width: 100%;
    }
    nav {
        display: none;
    }
    .info-message,
    .info-photo {
        width: 100%;
    }
    .skill-badge {
        margin: 10px 5px;
        width: 80px;
        height: 80px;
    }
    .home {
        width: 90vw !important;
        padding-top: 40px;
    }
    .blogs-category {
        width: 90vw !important;
    }
}
/*大屏*/
@media all and (min-width: 1024px) {
    nav {
        display: inline-block;
    }
    .skill-badge {
        margin: 25px;
        width: 80px;
        height: 80px;
    }
    main {
        padding: 80px 20px 50px;
    }
}
main {
    background: @white-background;
}
body {
    margin: 0;
    padding: 0;
    background-color: @white-background;
    color: #333;
    font-size: 16px;
    line-height: 1.6;

    font-family: "Microsoft YaHei","Verdana","sans-serif";
}

blockquote {
    border-left: 5px solid #81d8d0;
    padding-left: 10px;
}
