body {
	font-size: medium;
	font-family: "Microsoft YaHei","Cursive";
	margin: 0;
	padding:  0;
}
/* 导航 */
header>p,header>nav,header>nav li {
	display: inline-block;
} 
header>nav li{

}
header>nav {
	float: right;
}
header,.skill {
	background-color: rgb(153, 204, 51);
	color: white;
}
/* 个人履历 */
.info>.info-bar {
	width: 50%;
	margin: 0 auto;
}
/* 工作技能 */
.skill>.wrapper {
	width: 50%;
	margin: 0 auto;
}
.skill-badge {
	background-color: white;
    color: black;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 70px;
}

/* 项目经历 */
.project {
	padding: 50px 0;
}
.project>.wrapper {
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ddd;
    box-shadow: 1px 2px 5px rgba(169, 169, 169, 0.18);
    padding: 10px;
}