/*html5*/
article,
aside,
dialog,
footer,
header,
main,
section,
footer,
nav,
figure,
menu {
  display: block;
}
/*小屏*/
@media all and (max-width: 720px) {
  body {
    font-size: 12px;
  }
  nav {
    display: none;
  }
  .info > .info-card {
    margin: 5px auto;
    padding: 2px;
    width: 80%;
  }
  .card-message,
  .card-photo {
    width: 100%;
  }
  .info > .info-bar {
    margin: 10px auto;
    padding: 5px;
    width: 80%;
  }
  .info-bar > span:last-child,
  #to-top {
    display: none;
  }
  .skill-badge {
    margin: 10px 5px;
    width: 92px;
    height: 92px;
  }
  .skill-badge > p:first-child {
    margin-top: 25px;
  }
}
/*大屏*/
@media all and (min-width: 720px) {
  body {
    font-size: 14px;
  }
  nav {
    display: inline-block;
  }
  .info > .info-card {
    margin: 20px auto;
    padding: 10px 20px;
    width: 20%;
    min-width: 380px;
  }
  .card-message,
  .card-photo {
    width: 49%;
  }
  .info > .info-bar {
    margin: 10px auto;
    padding: 5px 20px;
    width: 30%;
    min-width: 550px;
  }
  .skill > .wrapper {
    width: 75%;
  }
  .skill-badge {
    margin: 10px 20px;
    width: 100px;
    height: 100px;
  }
  .skill-badge > p:first-child {
    margin-top: 35px;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #FEFEFE;
  color: #333;
  font-family: "Microsoft YaHei", "Cursive";
}
/* 导航 */
.header-title {
  display: inline-block;
  margin-left: 20px;
  cursor: context-menu;
}
nav ul {
  height: 63px;
  margin: 0;
}
nav li {
  display: inline-block;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: background, color 0.3s, 0.3s ease-in;
  -o-transition: background, color 0.3s, 0.3s ease-in;
  transition: background, color 0.3s, 0.3s ease-in;
}
nav li.selected {
  border-bottom-color: #ACE4DF;
}
nav li > a {
  text-decoration: none;
  color: inherit;
}
nav li:hover {
  color: #FEFEFE;
  background: #ACE4DF;
  cursor: pointer;
}
nav {
  float: right;
  margin-right: 30px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16px;
  color: #81D8D0;
  background-color: #FEFEFE;
  border-bottom: 1px solid #DDD;
  -webkit-box-shadow: 1px 1px 5px #f3f3f3;
          box-shadow: 1px 1px 5px #f3f3f3;
  z-index: 999;
}
main {
  margin-top: 85px;
}
/* 个人履历 */
.info > .info-card {
  border: 1px solid #DDD;
  -webkit-box-shadow: 1px 2px 5px rgba(169, 169, 169, 0.18);
          box-shadow: 1px 2px 5px rgba(169, 169, 169, 0.18);
}
.card-photo img {
  width: 150px;
}
.card-message,
.card-photo {
  display: inline-block;
  text-align: center;
}
.info > .info-bar {
  border: 1px solid #DDD;
  border-radius: 7px;
}
.info-bar > span:last-child {
  float: right;
  font-size: medium;
}
.info-bar .tips {
  margin-left: 5px;
  font-size: small;
  color: gray;
}
/* 工作技能 */
.skill {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 30px 0;
}
.skill > .wrapper {
  text-align: center;
  margin: 0 auto;
}
.skill-badge {
  display: inline-block;
  border: 1px solid #ACE4DF;
  border-radius: 5px;
  text-align: center;
  color: white;
  background-color: #81D8D0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.skill-badge:hover {
  background-color: #ACE4DF;
  color: #666;
  -webkit-box-shadow: 0 0 4px #ababab;
          box-shadow: 0 0 4px #ababab;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  cursor: pointer;
}
.skill-badge > p:last-child {
  margin-top: -10px;
  font-size: smaller;
}
/* 项目经历 */
.project {
  padding: 50px 0;
}
.project > .wrapper {
  margin: 30px auto;
  border: 1px solid #DDD;
  padding: 20px;
  padding: 10px;
  width: 75%;
  -webkit-box-shadow: 1px 2px 5px rgba(169, 169, 169, 0.18);
          box-shadow: 1px 2px 5px rgba(169, 169, 169, 0.18);
}
/* 页脚 */
footer {
  border-top: 1px solid #DDD;
}
footer > p {
  text-align: center;
}
/* 滚动至顶 */
#to-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border: 1px solid #DDD;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  background-color: white;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#to-top.hide {
  display: none;
}
#to-top:hover {
  -webkit-animation: top-animation 1.5s;
          animation: top-animation 1.5s;
  cursor: pointer;
}
@keyframes top-animation {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  33% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  66% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes top-animation {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  33% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  66% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@media all and (min-width: 1024px) {
  body {
    min-width: 1200px;
  }
  .memo-col {
    width: 30%;
  }
}
@media all and (max-width: 1023px) {
  .memo-col {
    width: 95%;
  }
}
/* MEMO */
.memo-main {
  padding-right: 15%;
  padding-left: 5%;
  line-height: 1.6;
}
.memo-main pre {
  white-space: normal;
  font-family: sans-serif;
  background: #f6f6f6;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
}
.memo-main .memo-col {
  display: inline-block;
  vertical-align: top;
}
.memo-main .memo-card {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  border: 1px solid #DDD;
  border-radius: 3px;
  border-top: 3px solid #81D8D0;
}
.memo-main .memo-time {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 12px;
  color: #f6f6f6;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}
.memo-main .memo-time:hover {
  cursor: default;
  color: #ACE4DF;
}
.memo-anchor {
  position: fixed;
}
