.games {
  padding-top: 100px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  img {
    transition: box-shadow .5s, transform .3s,;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 24px 45px rgb(82, 82, 82);
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;

    &:hover {
      figcaption {
        color: #333;
      }
    }
  }

  figcaption {
    margin: 3vh 0 5vh;
    font-size: 18px;
    color: #ccc;
    transition: color 0.3s;
  }
}
