.tools {
  padding-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .tools-card {
    width: 84vw;
    background: #fff;
    margin: 20px 0;
    padding: 5px 36px 20px;
  }

  .tools-content {
    display: flex;
    flex-wrap: wrap;

    a {
      width: 26vw;
      margin: 5px 0;
      text-decoration: none;
    }
  }

  .tools-half {
    display: flex;
    width: 84vw;
    justify-content: space-between;
    
    .tools-card {
      width: 41vw;
    }
  }
}