@import '../../less/color';

.my-md {
	pre {
		padding: .5em;
		margin: 0;
	    color: #383a42;
	    background: #fafafa;
	}
	code {
		padding: .2em;
	    overflow-x: auto;
	    color: #383a42;
	    background: #fafafa;
	}

	a {
	    color: @deep-pink;
	    transition: color .3s;
	    &:link {
	        color: @deep-pink;
	    }
	    &:visited {
	        color: @dark-pink;
	    }
	    &:hover {
	        color: @deep-pink;
	    }
	}
}