@import '../../less/color';

.blogs {
	padding-top: 80px;
	flex-flow: column wrap;
	display: flex;
	align-items: center;
	background: #fefaf6;

	.blog {
		transition: all .3s linear;
		padding: 10px 20px;
		background: #fff;
		width: 66%;
		margin-bottom: 20px;

		&:hover {
			box-shadow: 0 0 30px rgba(0,0,0,.1);
		}
	}

	.iScrollIndicator {
		border: 0 !important;
		background: #ace4df !important;
	}
}

.category-box {
	position: fixed;
	left: 50px;
	top: 100px;
	width: 16vw;
	height: 60vh;
	background: #fff;
	overflow-y: scroll;
	transition: all .3s;

	&:hover {
		box-shadow: 0 0 12px #ddd;
	}
}

.blogs-category {
	color: #000;
	list-style-type: none;
	padding: 0;
	margin: 0;

    li {
    	cursor: pointer;
    	padding: 8px 15px;
    	transition: all .3s;

    	&:hover {
    		color: #000;
    		background: #ace4df;
    	}
    }
}

@media screen and (max-width: 1024px) {
	.blogs {
		margin-left: 0;
	}

	.blog {
		overflow-x: scroll;
	}

	.category-box {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.blogs {
		align-items: flex-end;
	  padding-right: 15vw;
	}
}