@import '../../less/color';

.blogs {
	margin: 80px 0;

	.blog {
		transition: box-shadow .5s linear;
		margin: 0 auto 10px;
		background: #fff;
		width: 1200px;
		opacity: 1;
		transform-origin: 0 0;
		border-radius: 8px;

		figure {
			margin: 0;
			position: relative;

			.blog-img {
				width: 100%;
				object-fit: cover;
				margin: 0;
				border-radius: 8px 8px 0 0;
				height: 360px;
			}

			figcaption {
				position: absolute;
				bottom: 0;
				color: #fff;
				font-size: 12px;
				padding-bottom: 10px;
				padding-left: 10px;

				.blog-name {
					word-break: break-all;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					font-size: 36px;
				}
		
				.blog-date {
					font-size: 14px;
					color: #fff;
				}
		
				.tag-box {
					display: flex;
					flex-flow: row;
					padding-top: 8px;
				}

				.tag {
					display: inline-block;
					background-color: #f8f8f8;
					border-radius: 6px;
					font-size: 12px;
					color: #999;
					padding: 0 9px;
					margin-right: 5px;
				}
			}
		}

		.md-box {
			padding: 10px 48px;
		}

		img {
			width: 100%;
			object-fit: contain;
			margin: 12px auto;
			display: block;
			border-radius: 5px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.blog {
		overflow-x: scroll;
	}
}

@media screen and (min-width: 1024px) {
	.blog {
		animation: blog-show .6s ease-in-out;

		&.out {
			animation: blog-hide .6s ease-in-out;
		}
	}
}

@keyframes blog-show {
	from {
		opacity: 0;
		transform: rotateY(-180deg);
	}

	to {
		opacity: 1;
	}
}

@keyframes blog-hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: rotateY(180deg);
	}
}
