.minimodal-wrapper {
	position: fixed;
	border:1px solid #ddd;
	border-radius: 5px;
	z-index: 999;
}
.minimodal-shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background-color: rgba(82, 82, 82, 0.54);
}
.minimodal-foot {
	width: 100%;
	border-top: 1px solid #ddd;
}
.minimodal-body {
	width: 100%;
}